* {
  margin: 0px;
  padding: 0px;
}

#octocat {
  display: block;
  width: 384px;
  margin: 50px auto;
}

p {
  text-align: Center;
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco, "Courier New", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", monospace;
}
h1 {
  text-align: center;
  color: #ff6600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
